
<form (ngSubmit)="Insert()">
    <legend>Update Product</legend>

    <div class="form-group">
        <label for="Prod_No">Product No</label>
        <input type="text" class="form-control"
         id="Prod_No" name="Prod_No" placeholder="Prod_No"
         [(ngModel)]="prod.Prod_No">
    </div>

    <div class="form-group">
        <label for="Prod_Name">Product Name</label>
        <input type="text" class="form-control"
         id="Prod_Name" name="Prod_Name" placeholder="Prod_Name"
         [(ngModel)]="prod.Prod_Name">
    </div>

    <div class="form-group">
        <label for="Prod_price">Product Price</label>
        <input type="text" class="form-control"
         id="Prod_price" name="Prod_price" placeholder="Prod_price"
         [(ngModel)]="prod.Prod_price">
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control"
         id="username" name="Prod_Name" placeholder="username"
         [(ngModel)]="prod.username">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control"
         id="password" name="password" placeholder="password"
         [(ngModel)]="prod.password">
    </div>
    <button type="submit" class="btn btn-primary">Insert</button>
    <button type="button" class="btn-success" (click)="GoToHome()">Cancel</button>
</form>

